@media screen and (max-width: 767px) and (min-width: 365px) {
    body{
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 131px;
    }

    .Logo{
        padding-top: 24px;
    }
    .menu{
        align-content: space-around;
        width: 100%;
    }

    .link{
        padding-top: none;
        padding-bottom: 14px;
        border-bottom: 3px solid #D9D9D9;
    }

    .link:hover{
        width: 50%;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    .titres{
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 7%;
    }

    #recherche_bar{
        margin-left: 5%;
        margin-right: 5%;
    }

    #icon_map{
        padding: 6.2%;
    }

    #recherche{
        padding: 8.2%;
    }

    #recherche_button{
        padding-top: 5.5%;
        padding-bottom: 6.2%;
        padding-left: 5.7%;
        padding-right: 5.7%;
        height: 60.03px;
    }

    .text_recherche{
        display: none;
    }

    #iconmobile{
        display: block;
    }

    #filtre{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
        height: 114px;
        display: block;
    }

    .blockfiltre{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        
    }

    .filtres{
        padding-left: 3%;
        width: 45%;
        height: 45%;
        margin-right: 0;
    }

    .fa-money-bill-wave{
        width: 20px;
        height: 20px;
    }

    .fa-person{
        width: 20px;
        height: 20px;
    }

    .fa-heart{
        width: 20px;
        height: 20px;
    }

    .fa-dog{
        width: 20px;
        height: 20px;
    }

    p {
        font-size: 11px;
    }

    .info{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        margin-top: 15%;
    }

    #i{
        width: 35px;
        height: 25px;
        padding-top: 2px;
    }

    #resultat{
        flex-wrap: wrap-reverse;
    }

    .hebergement{
        margin-right: 0;
        width: 100%;
        border-radius: none;
        background: none;
    }

    #titre-h{
        margin-left: 5%;
        font-size: 22px;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .afficher{
        display: none;
    }
    .card{
        width: 90%;
        margin-bottom: 8%;
    }

    .card-image img{
        object-fit: cover;
        height: 114px;
    }

    .mostpopular{
        width: 100%;
        border-radius: 0;
    }

    .mosttitle{
        margin-left: 5%;
    }

    #titre-h2 {
        font-size: 22px;
    }

    .mostcard{
        height: 184px;
        width: 90%;   
        margin-bottom: 8%;     
    }

    .mostcard-image {
        width: 50%;
    }

    .mostcard-image img {
        object-fit: cover;
        height: 174px;
    }
    
    .mostnote{
        margin-top: 50%;
    }

    .mostnote2{
        margin-top: 63%;
    }

    .Activite{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-left: 8%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .activitetitre {
        width: 40%;
        font-size: 22px;
    }
    .activitecards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activitecard{
        margin-bottom: 8%;
        height: 214px;
        width: 92%;        
    }

    .cardimage img {
        max-height: 152px;
    }

    footer{
        flex-direction: column;
        padding-top: 8%;
        padding-bottom: 8%;
        padding-left: 8%;        
    }

    .colum{
        margin-bottom: 3%;
    }
}

