body{
    background-color: #FFFFFF;
    margin-left: 5%;
    margin-top: 0%;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    max-width: 61px;
    max-height: 29px;
    padding-top: 44px;
}

nav {
    font-size: 16px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    display: flex;
    align-content: flex-end;

}

nav a {
    text-align: center;
    text-decoration: none;
    color: #000000;
    border-top: 2px solid transparent;
    margin-right: 67px;
    padding-top: 44px;
}
.link:hover{
    color: #0065FC;
    width: 162px;
    border-top: 2px solid #0065FC;
    left: 1092px;
    top: 0;
}

.Titre{
    margin-top: 2.5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

#sous-titre{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#icon_map{
    padding: 0.7%;
    left: 0%;
    right: 84.94%;
    top: 0%;
    bottom: 0%;
    background: #F2F2F2;
    

    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#recherche{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding: 6%;
    background: #FFFFFF;
    text-decoration: none;

    border: 1px solid #F2F2F2;


}

#recherche_button{
    /* Texte CSS */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    

    color: #FFFFFF;

    /* Bouton CSS*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.60%;
    gap: 10px;
    
    

    background: #0065FC;
    

    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

#filtre{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 1%;
    margin-bottom: 1.5%;
}

h2{
    margin-right: 1.5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    padding: 0.3%;
}
li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.filtres{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;    
    
    /* Black */
    color: #000000;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    /* Inside auto layout */
    gap: 10px;
}

.filtres:hover{
    background: #DEEBFF;
}

li i{
    color: #0065FC;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
}

#i {
    box-sizing: border-box;
    color: #0065FC;
    background: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 1%;
    text-align: center;
    padding-top: 0.25%;
}
#texte{
    display: flex;
    flex-direction: row;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    
}

.hebergement{
    height: 50%;
    width: 85%;
    border-radius: 35px;
    background: #F2F2F2;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

#titre-h{
    margin-left: 2%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 1%;

}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    align-content: space-between;
}
.card{
    width: 29%;
    background-color: white;
    box-shadow: 0px 0px 10px #999;
    border-radius: 25px;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    padding-bottom: 1%;
}

.card a{
    color: #333;
    text-decoration: none;
}

.card:hover{
    box-shadow: 0px 0px 10px;
}

.card-image {
    object-fit: contain;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.card-image img{
    width: 100%;
    height: 25%;
    max-height: 186px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 1px;
}

.card-body{

    text-align: left;
    margin-left: 16px;
    box-sizing: border-box;

}

.card-title-card {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.sous-titre{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.note{
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    color: #0065FC;
}
.non-valide{
    color: #F2F2F2;
}
.afficher{
    font-size: 20px;
    margin-left: 2%;
    padding-bottom: 2%;
}
.fa-star{
    padding-right: 5px;
}
#resultat{
    display: flex;
    flex-direction: row;
}

.mostpopular{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 25px;
    padding-top: 1%;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 2%;
    width: 30%;
}

.mosttitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line{
    color: #0065FC;
    width: 18px;
}

.mostcards{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mostcard{
    background-color: white;
    box-shadow: 0px 0px 10px #999;
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.mostcard2{   
    display: flex;
    flex-direction: row;
    height: 240px;
}

.mostcard a{
    color: #333;
    text-decoration: none;
}

.mostcard:hover{
    box-shadow: 0px 0px 10px;
}

.mostcard-image {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.mostcard-image img{
    object-fit: cover;
    width: 65%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    padding-bottom: 1%;
}

.mostcard-body{
    text-align: left;
}


.mostcard-title-card {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.mostsous-titre{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.mostnote{
    display: flex;
    flex-direction: row;
    align-self: left;
    color: #0065FC;
    margin-top: auto;
}
